.pizza-progress {
  background: url(/images/pizza-progress-background.png) no-repeat;
  height: 255px;
  width: 185px;
  position: fixed;
  right: 40px;
  bottom: 40px;

  padding: 1rem;

  text-align: center;
  border-radius: 1rem;
}

.pizza-counter-count-time {
  background-color: white;
  width: 90px;
  height: 60px;
  margin: 25px auto 0 auto;
  font-size: 2.5rem;
  font-weight: bold;
}

.count-time-label {
  color: white;
  font-size: 12px;
}

.pizza-progress .minutes:after {
  content: ':';
}
