.pizza-counter
  .pizza-counter-count-time= completeCount
  label.count-time-label Completed
.pizza-time
  div.pizza-counter-count-time
    span.minutes= Math.floor(timeRemaining / (60 * 1000))
    span.seconds= Math.floor(timeRemaining / 1000) % 60
  label.count-time-label Time Left
