.mc-supply-title {
  margin: 0 0 1rem 0;

  text-align: center;
}

.bill-container {
  position: relative;
}

.bill-container, .bill-container .bill {
  width: 100%;
}

.bill-container .reserved-overlay {
  position: absolute;
  left: 0;
  right: 0;

  box-sizing: border-box;
  border-width: 0 0.1rem 0 0;
  border-color: #333;;
  border-style: solid;

  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.bill-container .reserved-overlay.focus {
  z-index: 4;
}

.bill-container .reserved-overlay .amount {
  position: absolute;
  top: 0.5rem;
  right: 0;

  padding: 0.2rem;

  background-color: #fff;
  border-radius: 0.3rem;
}

.bill-container .reserved-overlay:not(:last-child) .amount {
  display: none;
}

.bill-container .reserved-overlay:not(:last-child).focus .amount {
  display: block;
  opacity: 0.6;
}

.bill-slice-container .inner,
.bill-slice-container .bill {
  width: 4rem;
}

.bill-slice-container .outer {
  overflow: hidden;
}
