h1= 'Round #' + (game.roundNumber + 1)
if (player.workstation)
  h2 Get ready--you're up!
else
  h2 You're sitting out this round.
  p Be patient, you'll be able to help out in the kitchen soon!

h3= Math.floor(timeRemaining / 1000)
