p.
  In a market economy there are no central planners to answer these basic
  economic questions. Instead, the prices and quantities are established
  through the interaction of buyers (consumers) and sellers (producers) in
  markets.

p.
  These two groups come together in a market for a product to negotiate a price
  which also determines the quantity of the product that producers are willing
  and able to sell and buyers are willing and able to purchase.
