p.
  Every day in communities all around the nation, decisions are made on what
  goods and services will be produced, how much of each will be produced and
  who will get to consume them. How are these decisions made?

p.
  In a market economy there are no central planners to answer these basic
  economic questions. Instead, the prices and quantities are established
  through the interaction of buyers (consumers) and sellers (producers) in
  markets.

p.
  Producers decide which goods and services to produce by considering how much
  consumers are willing and able to pay for various products. Producers will be
  successful and earn profits as long as they can sell their product at a price
  higher than the average cost of producing it.

p.
  Consumers will be successful and gain satisfaction if they are able to buy
  the goods and services they want for less than what they are willing and able
  to pay for them.

p.
  These two groups come together in a market for a product to negotiate a price
  which also determines the quantity of the product that producers are willing
  and able to sell and buyers are willing and able to purchase. This in turn
  determines how much of society’s scarce resources will be allocated towards
  the production of that product and answers two fundamental economic
  questions: (1) How many units of each good or service will be produced? and
  (2) Who will get the units produced?
