p.
  You are playing the part of either a "buyer" or a "seller" in a market for
  cacao beans. You will be assigned a target price to either buy or sell, and
  this price will be re-assigned after every completed transaction.

p.
  As a <em>buyer</em>, you should find sellers and negotiate a price that is no
  greater than your target price. You may choose to buy at a greater price than
  your target if you wish to receive a better target price sooner.

p.
  As a <em>seller</em>, you should find buyers and negotiate a price that is no
  lower than your target price. You may choose to sell at a lower price than
  your target if you wish to receive a better target price sooner.
