p.
  You are playing the part of either a "buyer" or a "seller" in a market for
  cacao beans. You will be assigned a target price to either buy or sell, and
  this price will be re-assigned after every completed transaction.

p.
  In order to make a transaction, a buyer and a seller must enter in the other's
  <em>id</em> and the agreed upon price before clicking or tapping "Trade!". If
  both players do not agree to trade within five seconds of each other, the
  transaction will fail and they will have to try again.
