p.
  Fractional-reserve banking is a system in which banks are required to hold
  only a specified fraction of their deposits (reserve requirement) available
  for withdrawal by depositors. The rest may be lent out, thus "creating money."
  When depository institutions make loans, they 'create' money because these
  loans become new deposits from which borrowers can withdraw cash to spend.
  The size of the reserve requirement will have a direct impact on the amount
  of money that can be created when depository institutions make loans.

p.
  The money multiplier is the mathematical relationship between the monetary
  base and money supply of an economy. It explains the increase in the amount
  of cash in circulation created by a bank’s ability to lend money out of funds
  deposited by its customers.
