p.
  Learn how the math concept of slope can be used to model the opportunity cost
  of a production possibilities frontier. Practice computing slope on simple,
  linear production possibilities frontiers before examining the more realistic
  concave production possibilities model.
