.header.clearfix
  img(src=image).activity-image.left
  div.modal-title-description.right
    h1.title=title
    != description

.body.clearfix
  img(src="/images/help-icon.png").left.help-icon
  != instructions

.footer
  button.button.button-forward.button.begin Get Started