.welcome .title {
  margin: 0 0 1.4rem 0;
}

.welcome .tabs {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.welcome .tab {
  display: inline;
  padding: 1rem 2rem 0;
  margin: 0 2rem;
}

.welcome .tab {
  border-color: #444;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  cursor: pointer;
}

.welcome .tab.active, .welcome .tab-container.active {
  background-color: #fff;
}

.welcome .tab-containers {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.welcome .tab-container {
  display: none;
  padding: 1rem;
}

.welcome .tab-container.active {
  display: block;
}

.welcome .begin {
  display: block;
  margin: 0.3rem auto;

  cursor: pointer;
}
