.header.clearfix
  img(src=image).activity-image.left
  div.modal-title-description
    h1.title=title
    != description

.body
  h2 Instructions
  != instructions

.footer
  button.button.button-forward.button.begin Get Started