.pizza-topping.pizza-topping-cheese {
  padding: 0.2rem;
  height: 3rem;
  width: 3rem;

  background-color: #FFE39B;
  border-radius: 1.5rem;
}
.pizza-topping.pizza-topping-cheese:after {
  content: '(cheese)';
}
