p.
  Students participate in a pizza production simulation to determine the effects
  on labor productivity of specialization, the division of labor, and investment
  in human capital and capital goods. Students then apply what they have learned
  by analyzing several newspaper headlines.
