p.
  Make as many pizzas as you can. Each round, more players will join you to
  lend a hand in the kitchen. The simulation will begin when there are at least
  four players in the kitchen.

ul
  li Only one player can work on one pizza at a given time.
  li You have to put the pizza back before you can switch stations.
  li You have to build the pizza in the correct order: dough, sauce, cheese,
     pepperoni, and olives.
  li A pizza must have all of the toppings listed above to be considered
     complete.
