.article-text {
  width: 40%;
  color: white;
}

.article-title { text-transform: uppercase; }

.home-title,
.home-sub-title {
  text-align: center;
}

.activity-container {
  width: 23%;
  margin: 1%;
}

.activity-title {
  color: #74bee9;
}

.activity {
  border: 10px solid #f2f2ee;
  height: auto;
}

.activity-icon { width: 100%; }

.home-activity-list {
  list-style-type: none;
  text-align: center;
}

.home-activity-item {
  position: relative;

  display: inline-block;
  width: 40%;
  margin: 1rem 2rem;
  border: solid 1px #ddd;

  vertical-align: top;
  text-align: left;
}

.home-activity-item .home-activity-link {
  display: block;
  padding: 1rem;

  text-decoration: none;
  opacity: 1;
}
.home-activity-item.loading .home-activity-link,
.home-activity-item.loading .loading-screen {
  transition: opacity .7s;
  -webkit-transition: opacity .7s;
}
.home-activity-item .loading-screen {
  position: absolute;
  top: 0;

  width: 100%;

  opacity: 0;
  z-index: -1;
}
.home-activity-item .loading-screen:after {
  display: block;
  width: 31px;
  height: 31px;
  margin: 2rem auto;

  content: ' ';
  background-image: url('/style/loading-spinner.gif');
  background-repeat: no-repeat;
}

.home-activity-item.loading .home-activity-link {
  opacity: 0.3;
}
.home-activity-item.loading .loading-screen {
  opacity: 1;
  z-index: auto;
}
