section.article-container.clearfix
  div.container.clearfix
    div.article-text.left
      h1.article-title Interactive Activities
      p.introductory-content
        | The Council for Economic Education has created digital enhancements
        | to many of the activities in our recent publications including 
        | <em>High School Economics</em> and the upcoming <em>Math in the Real 
        | World</em> collection. These enhanced activities are designed to 
        | allow teachers to make better use of instructional time, help 
        | students to explore cause-and-effect relationships between variables, 
        | and increase collaboration and active learning.

section.container.clearfix
  article.activity-container.left
    a(href="#activity/pizza/")
      img(src="images/icons/pizza.png", class="activity-icon")
      h3.activity-title Productivity

   article.activity-container.left
    a(href="#activity/cacao/")
      img(src="images/icons/supplydemand.png", class="activity-icon")
      h3.activity-title A Classroom Market for Cocoa

   article.activity-container.left
    a(href="#activity/money-creation/")
      img(src="images/icons/moneycreation.png", class="activity-icon")
      h3.activity-title The Case of the Gigantic $100,000 Bill

   article.activity-container.left
    a(href="#activity/ppf/")
      img(src="images/icons/productionpossibilities.png", class="activity-icon")
      h3.activity-title Production Possibilities and Opportunity Cost

   article.activity-container.left
    a(href="#activity/income-and-taxes/")
      img(src="images/icons/incomeandtax.png", class="activity-icon")
      h3.activity-title Income Distribution

   article.activity-container.left
     a(href="#activity/when-graphs-mislead/")
      img(src="images/icons/graphsmisleadus.png", class="activity-icon")
      h3.activity-title When Graphs Mislead Us
      
    article.activity-container.left
      a(href="#room/")
       img(src="http://placekitten.com/372/372", class="activity-icon")
       h3.activity-title Instructors: Create Activity Room
