.article-text {
  width: 40%;
  color: white;
}

.article-title { 
  font-size: 1.9rem;
  text-transform: uppercase;
}

.introductory-content {
  line-height: 1.8rem;
  font-weight: 300;
}

.home-title,
.home-sub-title {
  text-align: center;
}

.activity-container {
  width: 23%;
  margin: 1%;
}

.activity-title {
  color: #74bee9;
}

.home-activity-item {
  display: block;
  height: auto;
}

.activity-icon {
  border: 10px solid #f2f2ee;
  width: 100%;
}

.home-activity-list {
  list-style-type: none;
  text-align: center;
}

.home-activity-item.loading .home-activity-link,
.home-activity-item.loading .loading-screen {
  transition: opacity .7s;
  -webkit-transition: opacity .7s;
}
.home-activity-item .loading-screen {
  position: absolute;
  top: 0;

  width: 100%;

  opacity: 0;
  z-index: -1;
}
.home-activity-item .loading-screen:after {
  display: block;
  width: 31px;
  height: 31px;
  margin: 2rem auto;

  content: ' ';
  background-image: url('/style/loading-spinner.gif');
  background-repeat: no-repeat;
}

.home-activity-item.loading .home-activity-link {
  opacity: 0.3;
}
.home-activity-item.loading .loading-screen {
  opacity: 1;
  z-index: auto;
}

/*RESPONSIVE STYLES*/
@media screen and (max-width: 1024px) {
  .article-title {
    font-size: 1.4rem;
  }
  .introductory-content {
    font-size: 0.9rem;
    line-height: 1.6rem;
  }
}

@media screen and (max-width: 768px) {
  .logo { width: 59%; }
  .activity-container {width: 31%;}
  .article-container { background: #7fb539; }
  .introductory-content {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  .activity-title { 
    font-size: 1rem;
    font-weight: 500;
  }
  .article-text {
    width: 100%;
  }
  .nav-menu {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .logo {
    float: none;
    width: 100%;
  }
  nav { margin: -10px 25px; }
  nav ul { padding-left: 0; }
  .article-text { width: 100%; }
  .activity-container { width: 48%; }
  .article-title {
    font-size: 1.5rem;
  }
  .introductory-content {
    font-size: 1rem;
    line-height: 1.8rem;
  }
  .activity-title { 
    font-size: 0.8rem;
    font-weight: 300;
  }
  .nav-menu {
    display: none;
  }
}