h1.home-title CEE's Interactive Activities

ul.home-activity-list
  each activity in activities
    li.home-activity-item
      a.home-activity-link(href='#activity/' + activity.slug + '/')
        h3.home-activity-title=activity.config.title
        p.home-activity-desc= activity.config.shortDesc

h2.home-title For Instructors

ul.home-activity-list
  li.home-activity-item
    a.home-activity-link(href='#room/')
      h3.home-activity-name Create Activity Room
      p.home-activity-desc Create a multi user room for an activity
