.ratio-slider

button.change-round(data-dir='prev',
    // Ensure the `disabled` attribute is only rendered when no rounds have
    // have been simulated.
    disabled=(rounds.length > 0 ? undefined : 'disabled')
  )
  | Previous Round

button.change-round(data-dir='next') Next Round

if rounds.length > 0
  h3='Round ' + (rounds.length)
  h3.money-created=formatters.usd(totalCreated)
