.activity {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #fff;
}

.activity-nav {
  padding: 2em;
  text-align: center;
  background-color: #62caae;
}

.activity-nav .activity-home {
  font-size: 2rem;
}

.activity-title-light {
  line-height: 1.6rem;
  font-weight: 400;
  color: white;
  display: inline;
  margin: 0 2rem 0 0;
}

.activity-help {
  cursor: pointer;
  background-color: white;
  padding: 10px;
}

.activity-help-icon {
  border-radius: 100%;
  background-color: #eadd3f;
  color: white;
  font-weight: bold;
  padding: 5px;
}

.activity .activity-stage {
  padding-top: 3rem;
  min-height: 100%;
  box-sizing: border-box;
}
