.activity {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #fff;
}

.activity-nav .activity-home {
  font-size: 2rem;
}

.activity .activity-stage { min-height: 700px; }
