header
  div.container.clearfix
    div.logo.left
      img(class="cee-logo", src='/images/cee-logo.png')
    nav.right
      ul.nav-menu
        li.menu-item
          a(href='http://councilforeconed.org') Home
        li.menu-item
          a(href='http://econedlink.org') EconEdLink
        li.menu-item
          a(href='http://genirevolution.org') Gen i Revolution

.activity-nav.clearfix
  h2.activity-title-light=title
  button.activity-help.right
    span.activity-help-icon i

.activity-stage

.activity-notifications

.activity-modals
