.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
}

.modal .screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #333;
  opacity: 0.4;
}

.modal .center {
  position: relative;
  left: 50%;

  width: 0;
}

.modal .surface {
  position: absolute;
  left: -21rem;
  top: 4rem;

  width: 40rem;

  overflow-y: scroll;
  /*max-height: 300px;*/

  background-color: #FFF;
  box-shadow: 0 0 10px #666;
}

.round-ready-body {
  text-align: center;
}

/*
  Adapt the set the max-height of the modal depending on the window height.
  This is a work around for the fact that you can't use percentages with
  aboslutely positioned elements. If anyone has a better solution, I'd love
  to hear it. (REMOVE_COMMENT 2014-07-07)
*/


@media screen and (min-height: 500px) {
  .modal .surface {
    max-height: 400px;
  }
}

@media screen and (min-height: 600px) {
  .modal .surface {
    max-height: 500px;
  }
}

@media screen and (min-height: 700px) {
  .modal .surface {
    max-height: 600px;
  }
}

@media screen and (min-height: 800px) {
  .modal .surface {
    max-height: 700px;
  }
}

.modal .dismiss {
  position: absolute;

  top: 0.5rem;
  right: 1rem;

  background: none;
  border: none;
  color: #333;
  font-size: 1.5rem;
  padding: 0 0.5rem;

  cursor: pointer;
}

.modal .header {
  background-color: rgb(242, 241, 241);
  border-bottom: 1px solid rgb(213, 213, 213);
  padding: 1rem 2rem;
}

.modal h1, .modal h2 {
  font-weight: 300;
}

.modal .title {
  margin: 0;
}

.modal .header p {
  font-style: italic;
  margin-top: 0;
}

.modal .body {
  padding: 1rem 2rem;
}

.modal .body h2 {
  margin-top: 0;
}

.modal .footer {
  background-color: rgb(242, 241, 241);
  padding: 1rem 2rem;
}
