.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;

  overflow-y: auto;
}

.modal .screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #333;
  opacity: 0.7;
}

.modal .surface {
  position: relative;

  margin: 4rem auto 0 auto;
  width: 40rem;
  max-width: 100%;

  background-color: #FFF;
  box-shadow: 0 0 10px #666;
}

.round-ready-body {
  text-align: center;
  position: relative;
}

.round-ready-body h2 { margin: 0; }

.round-ready-body h3 {
  display: inline;
  position: absolute;
}

.round-ready-body img { float: none; }

/*
  Adapt the set the max-height of the modal depending on the window height.
  This is a work around for the fact that you can't use percentages with
  aboslutely positioned elements. If anyone has a better solution, I'd love
  to hear it. (REMOVE_COMMENT 2014-07-07)
*/


/*@media screen and (min-height: 500px) {
  .modal .surface {
    max-height: 400px;
  }
}

@media screen and (min-height: 600px) {
  .modal .surface {
    max-height: 500px;
  }
}

@media screen and (min-height: 700px) {
  .modal .surface {
    max-height: 600px;
  }
}

@media screen and (min-height: 800px) {
  .modal .surface {
    max-height: 700px;
  }
}*/

.modal .dismiss {
  position: absolute;
  top: 0;
  right: 0;

  padding: 0 6px;
  border-width: 3px;

  background: none;
  border-color: #333;
  border-radius: 50%;
  border-style: solid;
  color: #333;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.modal .help-icon { margin-right: 10px; }

.modal .header {
  background-color: rgb(242, 241, 241);
  border-bottom: 1px solid rgb(213, 213, 213);
  padding: 1rem 2rem 0rem 2rem;
}

.modal h1,
.modal h2 {
  font-weight: 300;
}

.modal .title {
  margin: 0;
}

.modal .header p {
  font-style: italic;
  margin-top: 0;
}

.modal .body {
  padding: 1rem 2rem;
}

.modal-title-description,
.modal-instructions { margin: 10px; }

.modal-title-description { width: 75%; }
.modal-instructions { width: 85%; }

.modal .description-list li { list-style: inherit; }

.modal .footer {
  background-color: rgb(242, 241, 241);
  padding: 1rem 2rem;
  border-top: 1px solid rgb(213, 213, 213);
}
