if typeof error !== 'undefined'
  p.error= error

p.
  This is a group activity. Ask your instructor to assign you to a group and enter it below.

form
  input(type='text', name='group')
  button.joinGroup Join
