if typeof error !== 'undefined'
  p.error= error

.body
  p
   | This is a group activity. Ask your instructor to assign you to a group
   | and enter it below.
  p
   | <strong>Are you an instructor?</strong> <a href="/#room/">Click here</a>
   | to create a activity room.
  form
    input.group-name(type='text', name='group', placeholder='Group Name')
    button(type="submit").js-join-group Join >

.footer