/* apply a natural box layout model to all elements */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 90%; /*width: 960px;*/
  max-width: 1200px;
  margin: auto;
  padding: 20px 0;
}

.article-container {
  width: 100%;
  background: url(/images/header.png) #7fb539 right center no-repeat;
  background-size: 50%;
  text-shadow: 1px 1px 2px #6C9838;
}

p {
  line-height: 1.6rem;
  font-weight: 300;
}

a { text-decoration: none; }

li { list-style: none; }

.left { float: left; }
.right { float: right; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix { display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix { height: 1%; }

.clearfix { display: block; }

.cb { clear: both }

/* Buttons */

button.button {
  color: white;
  background-color: rgb(29, 178, 212);
  font-size: 0.8rem;
  font-weight: 300;
  border: 1px solid rgb(29, 178, 212);
  border-radius: 3px;
  outline: none;
  padding: 0.8rem 2rem;
}

button.button:hover {
  background-color: rgb(36, 190, 235);
}

button.button:active {
  background-color: rgb(28, 151, 187);
}

button.button.button-forward:after {
  content: ' →';
}

button.button.button-deactivated {
  background-color: rgb(189, 225, 235);
  pointer-events: none;
}

button.button.button-secondary {
  background-color: white;
  box-sizing: border-box;
  color: rgb(29, 178, 212);
}

button.button.button-secondary:hover {
  background-color: #F9F9F9;
  color: rgb(36, 190, 235);
}

button.button.button-secondary:active {
  background-color: #EEE;
}