/* apply a natural box layout model to all elements */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 90%; /*width: 960px;*/
  max-width: 1200px;
  margin: auto;
  padding: 20px 0;
}

.article-container {
  width: 100%;
  background: url(/images/header.png) #7fb539 right center no-repeat;
  background-size: 50%;
  text-shadow: 1px 1px 2px #6C9838;
}

p {
  line-height: 1.6rem;
  font-weight: 300;
}

a { text-decoration: none; }

li { list-style: none; }

strong { font-weight: 400; }

input {
  border: 1px solid #CCC;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: 300;
  margin-right: 1rem;
  padding: 0.8rem 2rem;
}

input:last-child {
  margin-right: 0;
}

.left { float: left; }
.right { float: right; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix { display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix { height: 1%; }

.clearfix { display: block; }

.cb { clear: both }
