html.no-js .initial-loading {
  display: none;
}

html.initial-load-complete .initial-loading {
  opacity: 0;
  width: 0;
  transition: opacity 1s, width 0s 1s;
  -webkit-transition: opacity 1s, width 0s 1s;
}

footer {
  background-color: #eae9d6;
  height: 100px;
}

.initial-loading {
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: 10;

  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  overflow: hidden;

  color: #444;
  font-size: 3rem;
  text-align: center;
} .initial-loading:after {
  content: ' ';
  display: block;
  width: 31px;
  height: 31px;
  margin: 1rem auto;

  text-align: center;
  background-image: url('loading-spinner.gif');
  background-repeat: no-repeat;
}

.cee-logo {
  max-width: 214px;
  max-height: 80px;
  margin-right: 20px;
}

.menu-item {
  display: inline;
  padding: 20px;
}

.nav-menu { margin: 32px 0; }

