.pizza-queue-pizza {
  position: absolute;

  display: inline-block;
  width: 5rem;
  height: 5rem;

  background: url(/images/pizza/conveyor-dough.png) no-repeat;
  cursor: pointer;
}

.pizza-queue-pizza[data-foodstate="dough"] {
}

.pizza-queue-pizza[data-foodstate="sauce"] {
  background-color: #a00;
  color: #fff;
}

.pizza-queue-pizza[data-foodstate="cheese"],
.pizza-queue-pizza[data-foodstate="anchovies"],
.pizza-queue-pizza[data-foodstate="olives"] {
  background-color: #FFE39B;
}
