.container
  h1 Create Room

  if typeof errorMessage !== 'undefined'
    p.error= errorMessage

  p.
    From here you can create a room for the selected activity. This room will have
    a list of groups you can assign your students to.

  form
    select(name='activity')
      each activity in activities
        option(value=activity.slug)= activity.config.title

    input(type='submit', value='Create')
