p.
  On this page you can create a room for one of the available multi user activities. The generated room will have a random name along with a set of groups with random names that you can assign to your students. If you need more groups there will be a link on that page to easily add more groups.

p.
  If you need, for say a room per class, you can create multiple rooms. Be sure to write the URL to the room so that you can return to it as you need.
