.pizza-queue-container {
  background: url(/images/pizza-conveyor.png) no-repeat;
  background-position-x: -40px;
  height: 148px;
  padding: 0;
}

.pizza-queue {
  padding: 40px;
}

.pizza-queue-pizza-container {
  position: relative;

  display: inline-block;
}
.pizza-queue-pizza-container.pizza-taken .pizza-queue-pizza {
  /**
   * Pizzas that are taken should not be visible within the queue, but the
   * space they would normally occupy should be reserved. This allows all other
   * pizzas to maintain a consistent position across these changes of
   * ownership.
   */
  visibility: hidden;
}
.pizza-queue-pizza-container.pizza-ready {
  animation-name: pizza-ready-glow;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 0.6s;
  -webkit-animation-name: pizza-ready-glow;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-duration: 0.6s;
  -moz-animation-name: pizza-ready-glow;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -moz-animation-duration: 0.6s;
}

@keyframes pizza-ready-glow {
  from {
    box-shadow: 0 0 0 rgba(0, 255, 0, 1);
    -webkit-box-shadow: 0 0 0 rgba(0, 255, 0, 1);
    -moz-box-shadow: 0 0 0 rgba(0, 255, 0, 1);
  }
  to {
    box-shadow: 0 0 10px rgba(0, 255, 0, 1);
    -webkit-box-shadow: 0 0 10px rgba(0, 255, 0, 1);
    -moz-box-shadow: 0 0 10px rgba(0, 255, 0, 1);
  }
}

@-webkit-keyframes pizza-ready-glow {
  from {
    box-shadow: 0 0 0 rgba(0, 255, 0, 1);
    -webkit-box-shadow: 0 0 0 rgba(0, 255, 0, 1);
  }
  to {
    box-shadow: 0 0 10px rgba(0, 255, 0, 1);
    -webkit-box-shadow: 0 0 10px rgba(0, 255, 0, 1);
  }
}
