p.
  From this page you can control a multi user activity's room and groups. You can assign your students to groups as you prefer.

p.
  Each room exists for a short period of time. You may use this span of time to create a room ahead of time and prepare whatever you need to use the generated group names to help your students set up.
