.ppf-slopes.ppf-slopes-left
  .ppf-slope(data-slope-val='-1/10')
    span.ppf-value -1/10
  .ppf-slope(data-slope-val='-1/5')
    span.ppf-value -1/5

.ppf-graph-container
  img.ppf-graph(src='/activities/ppf/client/images/ppf-graph.png')
  .ppf-graph-target.ppf-graph-target-1(data-slope-val='-1/10')
  .ppf-graph-target.ppf-graph-target-2(data-slope-val='-1/5')
  .ppf-graph-target.ppf-graph-target-3(data-slope-val='-3/5')
  .ppf-graph-target.ppf-graph-target-4(data-slope-val='-2')

.ppf-slopes.ppf-slopes-right
  .ppf-slope(data-slope-val='-3/5')
    span.ppf-value -3/5
  .ppf-slope(data-slope-val='-2')
    span.ppf-value -2
