.ppf-slopes, .ppf-graph-container {
  display: inline-block;
  vertical-align: top;
}

.ppf-slopes {
  position: relative;

  width: 25%;

  text-align: center;
}
.ppf-slopes-left .ppf-slope {
  float: right;
  clear: both;
}

.ppf-slope {
  padding: 3rem;
  margin: 1rem;

  background-color: rgba(255, 245, 213, 0.8);
  border-radius: 1rem;
  cursor: pointer;
  z-index: 1;
  transition: box-shadow 0.3s;
}
.ppf-slope-active {
  -moz-box-shadow:    1px 1px 1px 1px rgb(213, 205, 178);
  -webkit-box-shadow: 1px 1px 1px 1px rgb(213, 205, 178);
  box-shadow:         1px 1px 1px 1px rgb(213, 205, 178);

  /* Ensure the active slope renders above inactive slopes. */
  z-index: 2;
}
.ppf-slope .ppf-value {
  padding: 0.4rem;

  border-radius: 0.4rem;
  font-size: 1.25em;
  font-weight: 400;
}

.ppf-graph-container {
  position: relative;

  display: inline-block;
  width: 50%;
}

.ppf-graph {
  width: 100%;
}

.ppf-graph-target {
  position: absolute;

}
.ppf-graph-target-active {
  outline: solid 1px #00a;
}

.ppf-graph-target-1 {
  top: 26%;
  left: 10%;

  height: 4.3%;
  width: 21%;
}
.ppf-graph-target-2 {
  top: 30.5%;
  left: 31.5%;

  height: 8.3%;
  width: 17%;
}
.ppf-graph-target-3 {
  top: 40%;
  left: 48.5%;

  height: 20%;
  width: 16.5%;
}
.ppf-graph-target-4 {
  top: 61%;
  left: 67%;

  width: 10%;
  height: 34%;
}
