doctype html
html(lang="en")
  head
    title Interactive Activities - Council for Economic Education
  body
    div#main
    script#activity-data(type='text/json')!= JSON.stringify(activities)
    if dev
      script(src='/bower_components/requirejs/require.js', data-main='/scripts/amd-config')
    else
      script(src='/scripts/main.js')
