doctype html
html.no-js(lang="en")
  head
    title Interactive Activities - Council for Economic Education
    meta(name="viewport" content="width=device-width")
    link(type='text/css', rel='stylesheet', href='/style/index.css')
    link(type='text/css', rel='stylesheet', href='/style/normalize.css')
    link(type='text/css', rel='stylesheet', href='/style/fonts.css')
    link(type='text/css', rel='stylesheet', href='/style/base.css')
    link(type='text/css', rel='stylesheet', href='/style/buttons.css')
    script.
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/, '');
  body
    header
      div.container.clearfix
        div.logo.left
          img(class="cee-logo", src='/images/cee-logo.png')
        nav.right
          ul.nav-menu
            li.menu-item
              a(href='http://councilforeconed.org') Home
            li.menu-item
              a(href='http://econedlink.org') EconEdLink
            li.menu-item
              a(href='http://genirevolution.org') Gen i Revolution

    div#main.cb
    .initial-loading
      | Loading...
    noscript
      h1 Interactive Activities - Council for Economic Education
      p
        | This page requires JavaScript to function properly. Visit
        a(href="http://www.enable-javascript.com/") enable-javascript.com
        |  to learn how you can enable JavaScript in your web browser.
    script#activity-data(type='text/json')!= JSON.stringify(activities)
    if dev
      script(src='/bower_components/requirejs/require.js', data-main='/scripts/amd-config')
    else
      script(src='/scripts/main.js')

    footer